<style>
    body {
        font-family: Arial, sans-serif;
    }
    .model-id {
        display: inline-block;
        margin: 10px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        text-align: center;
        background-color: #f9f9f9;
    }
    .model-id a {
        text-decoration: none;
        color: black;
    }
</style>
<a href="/">Home</a>
<h1>Search IDs:</h1>
<form method="POST">
    <input type="text" name="search" placeholder="Search..." value="{{ search_text }}">
    <input type="submit" value="Search">
</form>
{% for id in ids %}
    <div class="model-id">
        <a href="https://huggingface.co/{{ id[0] }}">{{ id[0] }}</a>
    </div>
{% endfor %}
<h1>Ten Newest Models:</h1>
{% for model in new_models %}
    <div class="model-id">
        <a href="https://huggingface.co/{{ model[0] }}">{{ model[0] }}</a>
    </div>
{% endfor %}
<div>
    <a href="?page={{ page - 1 }}">Previous</a>
    <a href="?page={{ page + 1 }}">Next</a>
</div>
